<!-- Services Section -->
    <section id="a-fluxum" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">O Fluxum</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
              <p class="large" align="right" style="margin-right: 1em;font-size: 18px">O Grupo Fluxum nasceu de três insatisfeitos, que se encontraram em uma plataforma virtual por conta do interesse na ciência das redes distribuídas e novas formas de organização. Tivemos a oportunidade de conviver em um laboratório chamado Comunicação Líquida. A partir daí iniciou-se o processo de busca de um novo DNA para um modelo de negócio que equilibrasse a abundância, horizontalidade e valorizasse as novas economias.
            <p class="large" align="left" style="margin-left: 1em;font-size: 18px">Conectamos pontos nesta rede distribuída chamada Internet, um dos nossos objetivos é auxiliar outros em suas jornadas na busca do empoderamento, compartilhamos nossas experiências em: Tecnologias Open Source e as Metodologias de Design Organizacional.</p>
                <p class="large" align="right" style="margin-right: 1em;font-size: 18px">O substantivo “Fluxum” em latim significa “fluxo” e o logo é baseado no ideograma japonês Ensō, que denota “expressão do momento” do artista, quando a mente está livre para deixar simplesmente o corpo e espírito criarem. O círculo aberto pode significar que o Ensō não está separado, mas é parte de algo maior, ou que as imperfeições são aspectos essenciais e inerentes da existência. Acredita-se que apenas quando o artista está mentalmente e espiritualmente bem consegue pintar um círculo perfeito. Esta maestria não é um fim, mas parte do nosso processo criativo. Convidamos você a buscar esta expressão essencial em diversos aspectos da comunicação e da vida.</p>
            </div>
        </div>
    </section>
