  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2016 - 2018</span>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                   Desenvolvido com <i class="fa fa-heart" aria-hidden="true"></i><span class="hide-xs"></span><class="hide-sm hide-md hide-lg"> pelo Grupo Fluxum.</a>
                </div>
            </div>
        </div>
    </footer>
