  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2016 - 2018</span>
                </div>
                <div class="col-md-4">
                    
                </div>
                <div class="col-md-4">
                    <span class="development">Desenvolvido com <i class="fa fa-heart" aria-hidden="true"></i> pelo Grupo Fluxum.</span>
                </div>
            </div>
        </div>
    </footer>
