<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Serviços</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-center">
              <div class="col-md-6">
                  <span class="fa-stack fa-4x">
                      <i class="fa fa-circle fa-stack-2x text-primary"></i>
                      <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                  </span>
                  <h4 class="service-heading">Criação de sites, portais e apps<br>(Android/QML)</h4>
                  <p class="text-muted">Tecnologias e serviços que usamos:<br>Gerenciadores de conteúdo: Joomla, Drupal e Wordpress.<br>Criação de domínios gratuitos (.tk, .ml, .ga, .cf, .gq) e pagos.</p>
              </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-diamond fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design Gráfico</h4>
                    <p class="text-muted">Criação e aplicação de identidade visual<br>(logos, banners, folders, redes sociais,<br>cartão de visita, papelaria e apresentações).</p>
                </div>
            </div>
        </div>
    </section>
